*{
  margin: 0;
  padding: 0;
}

body {
  background-color:#141c2f;
}

.titulo{
  margin: auto;
  margin-top: 15px;
  color: #FFFFFF;
  padding: 30px;
}

.img-fluid{
  margin-left: 30px;
}

#card-inter{
  background-color:#141c2f;
  padding: 15px;
}

.Search{
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  
}

.loading{
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  

}

.inf{
  margin: auto;
  background-color: #1f2a48;
  
}

.form{
  margin: auto;
  background-color: #1f2a48;
  background-image: url();
  
}

.botom {
  background-color: #0079ff;
  color: #FFFFFF !important;
}

.input{
  background-color: #1f2a48;
  border: none;
}

input::placeholder{
  background-color: #1f2a48;
}

.input-group{
  width:80%;
}



/*loading*/


.loader {
  margin: 0 auto;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  display: inline-block;
}
.height{
  height: 30rem;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #FFFFFF !important;
}

